<!DOCTYPE html>
<html>
    <head> <!--head tells the website how to render the characters-->
        <meta charset="utf-8">
        <title>About Page/title>
    </head>
    <body>
        <h1>About Page</h1>
        <p>Some text here</p>

        <footer>
            <p>Copyright 2017</p>
        </footer>
    </body>
</html>