<!DOCTYPE html>
<html>
    <head> <!--head tells the website how to render the characters-->
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{screamIt welcomeMessage}}</p>
        <!-- Inserting partial -->
        {{> footer1}}
    </body>
</html>